<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <if condition="isset($_COOKIE['company'])">
            {$_COOKIE['company']}
            <else/> 随意游-suiyiyou.net
        </if>
    </title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_422207_gq3xqx189j3piudi.css">
    <link rel="stylesheet" href="__PUBLIC__/Weixin/dist/cash.min.css?st=v1.0.2">
</head>
<script>
    window.public = "__PUBLIC__";
    window.controller = "__CONTROLLER__";
</script>

<body>
    <div class="title">
        <span id="detailBtn" class="detail">收支明细</span>
    </div>
    <div class="money-box">
        <i class="syy icon-tixian"></i>
        <p>
            <span id="money">0.00</span>
            <span class="unit">元</span>
        </p>
    </div>
    <div class="money-inp-box">
        <span class="cash-money">提现金额 :</span>
        <input type="text" id="moneyInp" placeholder="请输入提现金额">
        <span id="allCashBtn">全部提现</span>
    </div>
    <div class="remarks">
        <textarea maxlength="100" id="remarks" placeholder="备注 : "></textarea>
    </div>

    <p id="cashBtn">提 现</p>

    <div id="detailBox">
        <div id="detailList">
            <div id="noOrder">
                <i class="syy icon-no-order"></i>
                <p class="tips">您还没有相关信息</p>
            </div>
            <p id="back">
                <i class="syy icon-monthr"></i>
            </p>
        </div>
    </div>

    <div id="explain">
        <p class="title">说明</p>
        <div class="content">
            <p class="item">
                <span class="subtitle">1.提现规则:</span> 金额达到100才能提现 ; 100~999.99: 收取10%的平台使用费 ; 1000~2999.99: 收取8%的平台使用费 ; 3000~4999.99: 收取7%的平台使用费
                ; 5000以上: 收取6%的平台使用费
            </p>
            <p class="item">
                <span class="subtitle">2.提现方式:</span> 平台默认微信转账 ,支持支付宝或银行卡转账 ,如需要其他转账方式 ,请在备注里说明并留下相关账号信息 </p>
            <p class="item">
                <span class="subtitle">3.到账时间:</span> 平台在收到提现信息后将在 1 ~ 3 个工作日内处理 ,如有疑问请联系客服 17759185562</p>
        </div>
    </div>

</body>
<script src="__PUBLIC__/common/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Weixin/dist/cash.min.js?st=v1.0.2"></script>
</html>