<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>随意游-suiyiyou.cc</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_422207_zrtshv68jltmx6r.css">
    <link rel="stylesheet" href="__PUBLIC__/Weixin/dist/s_all.min.css?st=1.0.0">
</head>

<body>
    <p class="title">搜索结果共
        <span id="num">15个</span>
    </p>
    <div id="contentItem">
        <div class="item">
            <img class="item-pic" src="__PUBLIC__/Weixin/image/loginbg1.jpg">

            <div class="item-mess">
                <div class="item-name">
                    厦门出发福州永泰云顶马尾船政博物馆休闲双飞2日游厦门出发福州永泰云顶马尾船政博物馆休闲双飞2日游
                </div>
                <p class="item-sales">
                    销量 ：299
                </p>
                <p class="item-price">售价 :
                    <span class="price">￥233</span>
                </p>
            </div>
        </div>
    </div>

</body>
<script src="__PUBLIC__/common/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Weixin/dist/s_all.min.js?st=1.0.0"></script>

</html>