<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <if condition="isset($_COOKIE['company'])">
            {$_COOKIE['company']}
            <else/> 随意游-suiyiyou.net
        </if>
    </title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_422207_gufwgxz7bla3jtt9.css">
    <link rel="stylesheet" href="__PUBLIC__/Weixin/dist/search.min.css?st=v1.0.3">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        window.public = "__PUBLIC__";
        window.controller = "__CONTROLLER__";
        window.CONFIG = {$wxconfig};
    </script>
</head>

<body>

    <input id="whichPage" type="hidden" value="{$remark}">

    <p class="title">
        搜索
        <if condition="$jsremark eq 1">
            <i id="eye" class="syy icon-open"></i>
        </if>
    </p>
    <ul class="module">
        <li class="module-item">
            <a href="__CONTROLLER__/s_route">
                <i class="syy icon-zhilupai"></i>跟团线路</a>
        </li>
        <li class="module-item on" id="dataType" data-type="SceneryList">
            <i class="syy icon-icon36"></i>特惠酒店</li>
        <li class="module-item">
            <a href="__CONTROLLER__/s_ticket">
                <i class="syy icon-menpiao1"></i>景点门票</a>
        </li>
    </ul>
    <div class="search-box">
        <div class="search-content">
            <!-- <div id="location">
                <i class="syy icon-dingwei"></i>
                <span id="city">福州</span>
            </div> -->
            <input type="text" id="searchInp" placeholder="按酒店标题搜索">
            <i class="syy icon-chahao"></i>
        </div>
    </div>
    <div id="contentBox">
        <div id="noContent" style="display:none">
            <i class="syy icon-meiyoushuju"></i>
            <p class="no-content">暂无内容</p>
            <p class="no-message">没有找到相关信息</p>
        </div>

        <div id="contentItem">

        </div>
        <div id="loadMore"><img id="moreLoad" src="__PUBLIC__/common/more.svg" alt=""></div>
        <p id="noMore">没有更多产品了...</p>
    </div>

    <div class="scroll-top" id="scrollTop">
        <i class="syy icon-up"></i>
    </div>


</body>
<script src="__PUBLIC__/common/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Weixin/dist/search.min.js?st=v1.0.7"></script>

</html>