<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海报中心</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_422207_ry9l0xfukwfm9529.css">
    <link rel="stylesheet" href="__PUBLIC__/Weixin/dist/share_poster.min.css?v=0.0.1">
    <script>window.controller = '__CONTROLLER__';</script>
</head>

<body>
    <!-- 海报展示 -->
    <div class="box" id="posterShowDiv">
        
    </div>
    <!-- END 海报展示-->
    <!-- 注册成为经销商的提示 -->
    <div class="prompt" id="prompt">
        <div class="prompt_div">
            <p class="prompt_text">
               <span class="title">壹</span> <span class="info">请在电脑打开浏览器（建议使用谷歌浏览器）</span> 
            </p>
            <p class="prompt_text">
                <span class="title">贰</span> <span class="info">进入www.suiyiyou.net,进行登录注册</span>
            </p>
            <p class="prompt_text">
                <span class="title">叁</span> <span class="info">如果你已经是我们的分销商，请点击下方的按钮</span>
            </p>
            <p>
                <a href="__CONTROLLER__/login"><span class="btn">进行登录</span></a>
                <span class="btn_close" id="btnClose">关闭</span>
            </p>
        </div>
    </div>
    <!-- END 注册成为经销商的提示 -->
</body>
<script src="__PUBLIC__/common/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/Weixin/dist/share_poster.min.js?v=0.0.2"></script>

</html>