
    <volist name='tick' id='t'>
        <div class="content-item">
            <img class="pic" src="{$t.imgFile}" alt="">
            <div class="mess">
                <p class="name">{$t.t_tick_name}</p>
                <p class="detail">
                    景点地点： {$t.tick_spot}</br>
                    景点城市：{$t.t_tick_city}
                </p>
                <p class="sales-volume">销量 :
                    <span class="sales-num">{$t.t_tick_sell}</span>
                </p>
                <p class="price-box">
                    售价 : ￥
                    <span class="price">{$t.t_tick_my_price}</span> 起
                </p>
            </div>
            <button class="now-reserve">立即预定</button>
        </div>
    </volist>