* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    #wxHead {
        width: 100%;
        margin-top: 30px;
        #headBox {
            text-align: center;
            #headPic {
                width: 40%;
                border-radius: 50%;
                border: 2px solid #fff;
            }
            #wxName {
                font-size: 14px;
                color: #fff;
            }
        }
    }
    #inputBox {
        padding: 0 8px;
        border: 1px solid #d9d9d9;
        width: 86%;
        margin: 30px auto 0;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.8);
        .mobile-box {
            border-bottom: 1px solid #d9d9d9;
            height: 46px;
            line-height: 46px;
            &:nth-child(2) {
                border-bottom: none;
            }
            .syy {
                font-size: 20px;
                color: #808080;
            }
            .mobile-inp {
                padding-left: 8px;
                outline: none;
                font-size: 14px;
                border: none;
                width: 80%;
                height: 40px;
                background: rgba(255, 255, 255, 0);
            }
            #getCodeBtn {
                background: #3385ff;
                color: #fff;
                outline: none;
                border: none;
                width: 100px;
                line-height: 30px;
                border-radius: 3px;
                &:active {
                    opacity: 0.7;
                }
            }
        }
    }
    .login-page {
        font-size: 14px;
        text-align: right;
        #loginPage {
            padding-right: 7%;
            text-decoration: none;
            color: #3385ff;
        }
    }
    #bindAndLoginBtn {
        display: block;
        width: 90%;
        background: #3385ff;
        color: #fff;
        margin: 30px auto 0;
        outline: none;
        border: none;
        line-height: 40px;
        border-radius: 5px;
        font-size: 16px;
        &:active {
            opacity: 0.7;
        }
    }
    .tips {
        font-size: 12px;
        padding-right: 5%;
        margin-top: 5px;
        color: #fff;
        text-align: right;
    }
}